<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>
</head>
<body>

<div th:each="person : ${people}">
<!--    Как переходить и куда указывается в href, где еще и объясняется, что такое id
То есть здесь мы передаем человека, и можем перейти на его непосредственную страницу с помощью ссылки по его id-->
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">user</a>
</div>
<hr/>
<!--Кнопка для создания нового человека-->
<form th:method="get" th:action="@{/people/new}">
    <input type="submit" value="Create new person">
</form>

</body>
</html>